body{
    font-family: 'Roboto', sans-serif;  
}
.menu-bar-1{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    display: inline;
    
    padding: 20px;
}
.menu-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-sity{
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;

    color: #FF8A56;

    margin-top: 209px;
    margin-left: 14%;
}
.name-sity-1{
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;

    color: black;
    margin-top: -50px;
    margin-left: 14%;
}
.about-me{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    color: #666666;

    margin-top: 27px;
    margin-left: 14%;
}
.connection{
    align-items:flex-start;
    justify-content: flex-start;
    display: flex;
    
    margin-left: 14%;
}


.call{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: white;
    
    width: 151px;
    height: 58px;
    background-color: black;
}
.call:active{
    background-color: white;
    color: black;
}
.write-to-me{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;

    margin-top: 14px;
    margin-left: 15px;
}
.img-write{
    margin-top: 24px;
    margin-left: 12px;
}
.I-am{
    margin-top: -600px;
    margin-left: 55%;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;

    margin-top: 252px;

    color: #FF5E69;
}
.problem-product{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
    text-align: center;

    margin-top: 16px;
}
.services-block{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.service-name{
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}
.detailed-service{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #666666;
}
.Numbering-of-squares{
    list-style-type: square;

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;

    margin-left: -22px;
}
.list-height{
    margin-top: 10px;

}
.second-block{
    padding: 0px 170px;
}
#bg-black{    
    width: 100%;
    height: 1251px;

    background: black; 

    margin-top: 241px;
}
.blog{
    color: white;

    

    padding-left: 10%;
}
.blog-start{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;

    padding-top: 124px;

    letter-spacing: 4px;

    color: #FFA84B;
}
.lasts-blog{
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;
    
    margin-top: -5px;

    letter-spacing: 1px;
}
.check-all{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

    margin-top: -20px;
}
.img-blog{
    margin-top: -33.5px;
    margin-left: 128px;
    float: left;
}
.dofamin{
    padding-left: 45%;
}
.data-blog{
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.7);
}
.name-blog{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}
.open-blog{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.img-open-blog{
    float: left;
    margin-top: -33px;
    margin-left: 85px;
}
.paragraph-blog{
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 36px;
}
.audiobooks{
    padding-left: 45%;
    margin-top: 64px;
}
.plan-year{
    padding-left: 45%;
    margin-top: 64px;
}
.designer-resources{
    padding-left: 45%;
    margin-top: 64px;
}
.short-info{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 80px;
}
.short-information{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #FF5E69;
}
.info-about-me{
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;

    letter-spacing: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.information-about-me{
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;

    color: #666666;

    padding-left: 20%;
}
.photos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.judo-photos{
    width: 338px;
    height: 626px;
}
.iam-small{
    width: 507px;
    height: 626px;

    float: left;
    margin-left: 16px;
}
.ul{
    margin: 0px;
    padding: 0px;
}
.nubmer{
    list-style-type: none;
}
.last-1photos-info{
    width: 338px;
    height: 305px;
    margin: 6px -23px;
}
.reviews-block{
    margin-left: 15%;
}
.reviews{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;

    color: #4353FF;

    letter-spacing: 4px;
    text-transform: uppercase;
}
.my-job{
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;

    letter-spacing: 1px;

    margin-top: -10px;
}
.dmitry{
    
}
.opinion{
    margin-top: -425px;
    margin-left: 45%;
}
.opinion-dmitry{
    font-size: 32px;
    font-weight: 700;
    line-height: 47px;
}
.mazikov{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
.anarhy{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

    margin-top: -25px;
}
#last-block-bg{
    width: 100%;
    height: 719px;

    background: black;

    margin-top: 346px;
}
.blue-circle{
    width: 186px; 
    height: 186px;

    background: rgba(60, 70, 255, 0.8);
    filter: blur(100px);
    border-radius: 50%;

    margin-top: 13px;
    margin-left: -58px;
}
.end-block-box{
    margin-left: 8%;
    margin-top: -210px;
}
.ready-write-me{
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;

    letter-spacing: 1px;

    color: white;

    padding-top: 171px;
}
.write-me{
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;

    letter-spacing: 0.5px;

    color: #3C46FF;

    margin-top: -35px;
}
.social{
    color: white;

    margin-left: 8%;
    margin-top: 90px;
}
.social-networks{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    
    margin-left: 44px;
    margin-top: -28px;

    padding-bottom: 30px;


}
.social-two{
    color: white;

    margin-left: 40%;
    margin-top: -212px;
}
.abstruction{
    
    mix-blend-mode: hard-light;
    
    margin-left: 42%;
    margin-top: -194px;

    background-size: 1%;

    background-repeat: no-repeat;
}
.group-special{
    text-align: center;
    margin-left: 50%;
}
.my-name{
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;

    margin-top: -80px;

    color: white;
}
.my-special{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

    color: rgba(255, 255, 255, 0.6);

    margin-top: -20px;
}
.my-photo{
    position: absolute;
    margin-top: -75px;

    margin-left: 82%;
}